# Application Info
NEXT_PUBLIC_COMPANY_NAME="Aira Events"
NEXT_PUBLIC_COMPANY_TAGLINE="Create the Memory Lane"
NEXT_PUBLIC_OFFICE_ADDRESS="Nayabajar, Sorakhutte chowk"
NEXT_PUBLIC_OFFICE_CITY="Kathmandu, Nepal"
NEXT_PUBLIC_PHONE_PRIMARY="+977 9816479342"
NEXT_PUBLIC_PHONE_SECONDARY="+977 9700194169"
NEXT_PUBLIC_EMAIL="airaevents001@gmail.com"
NEXT_PUBLIC_WORKING_HOURS="Sun - Sat: 10:00 AM - 5:00 PM"
NEXT_PUBLIC_WORKING_HOURS_SUNDAY="Sunday: By Appointment"

# Social Media Links
NEXT_PUBLIC_FACEBOOK_URL="#"
NEXT_PUBLIC_INSTAGRAM_URL=""
NEXT_PUBLIC_TWITTER_URL="#"
NEXT_PUBLIC_YOUTUBE_URL="#"

# Pdf info
NEXT_PUBLIC_BROCHURE_URL=""


# Database and Authentication
MONGODB_URI=""
ADMIN_EMAIL=
JWT_SECRET=
ADMIN_SETUP_SECRET=
ADMIN_SCRIPT_SECRET=
NODE_ENV=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Event Categories and Counts
CATEGORIES={"Wedding":"696154267fdba0e6636c2376","Engagement":"696157417fdba0e6636c238f","Birthday":"696157997fdba0e6636c23b5","Social Event":"696157697fdba0e6636c23b0"}
COUNTS={"Wedding":13,"Engagement":13,"Birthday":12,"Social Event":12}